{% extends "_layout.html" %}
{% block title %}About the conference...{% endblock %}
{% block content %}

<div class="container">

    <h4 id="topics">Highlighted Topics</h4>

    <ul>
      <li>Asynchronous iterative solvers</li>
      <li>Mixed precision iterative solvers</li>
      <li>Randomized iterative solvers and preconditioners</li>
      <li>Eigenvalue and singular value methods and applications</li>
      <li>Solvers at extreme scale &amp; on next gen/accelerator node architectures</li>
      <li>Iterative solvers and machine learning</li>
      <li>Iterative solvers in data science and engineering</li>
      <li>Iterative solvers and Quantum computing</li>
      <li>Multilevel solvers</li>
      <li>Multigrid methods for partially structured grids</li>
      <li>Rank-structured solvers and preconditioners</li>
      <li>Robust &amp; scalable iterative solution of coupled multi-physics problems</li>
      <li>Solvers for indefinite systems</li>
      <li>Iterative Applications: earth and energy systems</li>
      <li>Iterative Applications: fluids, electromagnetics, plasmas</li>
      <li>Iterative Applications: imaging</li>
      <li>Optimization of complex problems &amp; Systems</li>
      <li>Inverse problems, regularization</li>
      <li>Surrogate modeling &amp; model reduction</li>
      <li>Uncertainty quantification, PDEs with random data</li>
    </ul>

    <h4>Conference Format</h4>

    <p class="text-justify">
    The {{info.year}} conference will be an <i>in-person</i> conference, with no virtual or hybrid component.

    The daily schedule will involve five days of parallel sessions.
    </p>

    <h4>Code of Conduct</h4>

    The conference organizers are committed to maintaining the highest standards of professional conduct and providing an environment that is welcoming to all participants. We require all participants to value and respect the rights and dignity of others, and to engage in professional and respectful discussions. No harassment, exclusionary, or discriminatory behavior will be tolerated, and anyone who engages in such behavior will be removed from the conference platforms (physical and virtual). If you are unfamiliar with expected standards of behavior, we encourage you to consult the code of conducts for our professional societies:
<ul>
<li><a href="https://www.siam.org/about-siam/policies-guidelines/detail/code-of-conduct">SIAM Code of Conduct</a></li>
<li><a href="https://www.ams.org/about-us/governance/policy-statements/anti-harassment-policy">AMS Anti-Harrasment Policy</a></li>
</ul>
Any participants who wish to report offending behaviour should do so via email to <a href="people.html#chair">the conference co-chairs</a> or any member of the Program Committee.  All reports will be considered within 24 hours of being sent, by a suitable subcommittee of the Program Committee (chosen to avoid any possible conflicts of interest), and appropriate action taken within that time.

    <h4>Student Paper Competition</h4>

    A <a href="student.html#details">student paper competition</a> will be open to
    current and recent students attending the conference.  In addition, a
    <a href="about.html#specialissue">special issue</a> devoted to the themes of
    the conference will be open to all.

    <h4>Tutorials</h4>
    The following tutorials will be offered for the upcoming conference (times are tentative):
    <ul>
      <li> Sunday 10:00-12:00 - TBD</li>
      <li> Sunday 14:00-16:00 - TBD</li>
      <li> Sunday 16:30-18:00 - TBD</li>
      <li> Monday 14:00-15:30 - TBD</li>
    </ul>
    Participants intending to attend the Sunday tutorial sessions should be sure to plan their travel to arrive in time.

    <h4 id="specialissue">Journal Special Section on Multigrid Methods</h4>

    <p>
     As in previous years, a special section focused on recent advances in iterative methods
     is planned for publication in the SIAM Journal on Scientific Computing.
     Submissions are encouraged in all
     aspects of iterative methods, including this year's highlighted <a href="about.html#topics">topics</a>.
    </p>

    <p>
     Attendees and participants of the conference as well as the general
     community are invited to submit papers.  The papers should meet the
     formatting and editorial requirements of SIAM Journal on Scientific
     Computing.
    </p>

    <p>

    Submissions for the special issue will be accepted from
    {{deadlines.specialissueopen.date }} until
    <b>{{deadlines.specialissue.date}}</b>.  Papers will be subject to review
    by a guest Editorial Board.  Submissions should be made using the ordinary
    submission process at <a href="http://sisc.siam.org">
    http://sisc.siam.org</a>, with a statement in the cover letter requesting
    that the paper be considered for the special issue.
    </p>

    <br/>
    <a href="http://sisc.siam.org"> <img class="mx-auto d-block" style="border:2px" alt="SIAM logo" src="images/SISC.jpg" height="230"></a>
    <br/>

    <h4 id="skipasses">Lift Tickets</h4>

<p>
  <b>Note:</b> there has been a change from previous years as to how you purchase discounted lift tickets.  They must be purchased by calling Copper at 866-837-2996 at least one day in advance! There is no discount for "day of" purchases. The discount tickets are <i>date specific and nonrefundable</i>, but you can change to later dates by calling again <i>before</i> the date of the ticket.
    </p>

    <h4 id="rentals">Equipment rentals</h4>

<p>
  Ski and snowboard equipment can be rented from Charter Sports, with a 35% discount for conference participants (<a href="https://easyresv3.wintersteiger.at/index_easyrent.php?shopid=100244&branchid=24&inloc=TACCU3565&discode=any82qbj9agp">direct link</a>).  They can be reached at 888-295-9797 if you have questions or need help booking your rentals. Note that attendees can also just walk into the shop and mention that they are with the "CU Math Conference" and receive the group discount.
</p>

  <h4 id="location">Getting Here</h4>

    <p>
     The conference is held at <a href="http://www.coppercolorado.com">Copper
       Mountain</a>, Colorado, located 75 miles west of Denver just off
     interstate I-70 at exit 195.
    </p>

    <p>
    Denver International Airport (DIA) is the closest major airport.
    From there, most attendees either arrive by shuttle or by car rental.
    </p>

    <p>
    Summit Express provides shuttle service from DIA to Copper Mountain.
    The conference group code is ITERATIVE (<a href="https://www.summitexpress.com/reservations/?portal=iterative">direct
    link</a>). The code provides 10% off the shared shuttle service.
    The full rates are given on the <a
    href="http://www.summitexpress.com/denver-airport-ski-shuttle-rates/winter-denver-airport-shuttle-rates/">Summit
    Express</a> website.  </p>

<p>
  <a href="https://www.mountainshuttle.com">Mountain Shuttle</a> also provides shuttle service from DIA to Copper Mountain, but does not provide a conference discount.  Note that prices for both companies do vary, and there are some differences in schedules to consider when booking.

    <div class="maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d608266.0883500748!2d-106.0073125920699!3d39.63946148929527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876a6000b7523357%3A0x2fc88aaeeb274fdd!2sCopper+Mountain+Resort!5e0!3m2!1sen!2sus!4v1474934985568" width="800" height="300" style="border:0" allowfullscreen></iframe>
    </div>

</div>
{% block extrajs %}
<script>
$(".maps").click(function() {
	$(".maps iframe").css("pointer-events", "auto");
});
$(".maps").mouseleave(function() {
	$(".maps iframe").css("pointer-events", "none");
});
</script>
{% endblock %}
{% endblock %}
