{% extends "_layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<div class="container">
  <div class="d-block mx-auto main-block">
    <h2 class="title text-danger">{{ info.date }}</h2>
  </div >
  <div class="d-block mx-auto main-block">
    <h2 class="title text-primary font-weight-bold">
            <a href="{{info.programlink}}">Program</a> (all times MDT)
    <span style="font-size:6px">&nbsp;&nbsp;(<a href="./program-static/index.html">Static program link</a>)</span>
    </h2>
    <h6 class="title text-primary font-weight-bold">
    </h6>
  </div >

  <div class="row row-top mb-4">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Featured Tutorial:</h6>
          <h6 class="card-title">
            Tutorial on Machine Learning
          </h6>
          <h6 class="card-subtitle mb-2 text-muted">
            Edmond Chow, Georgia Tech
          </h6>
          <h6 class="card-subtitle mb-2 text-muted">
            2pm -- 5pm, Sunday April 14, 2024
          </h6>
          <details><summary class="text-primary" style="display: block;">[details]</summary>
            <p class="card-text">
            This is a tutorial on machine learning for iterative methods researchers. The
            tutorial assumes little prior background in machine learning, but will be broad
            and move quickly. It will focus on key ideas in machine learning and mention
            the use of iterative methods when they arise (usually in optimization). It will
            also hint at PDEs and inverse problems. The first half of the tutorial will
            cover basic ideas including regularization, Bayesian inference, MCMC, Gaussian
            processes, and kernel methods. The second half of the tutorial will cover
            stochastic gradient descent, automatic differentiation, expectation
            maximization, variational inference, and online learning.
            </p>
          </details>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card">
        <div class="card-body mx-auto">
          <h6 class="card-title">Schedule at a glance:</h6>
          <img class="img-fluid img-rounded" src="./images/schedule.png" alt="schedule" style="max-width: 300px;">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="card">
        <!-- from https://commons.wikimedia.org/wiki/File:Copper_Trail.jpg retrieved on 20160711 -->
        <!-- This work has been released into the public domain by its
          author, DebateLord at English Wikipedia. This applies worldwide.
          In some countries this may not be legally possible; if so: DebateLord grants
          anyone the right to use this work for any purpose, without any conditions,
          unless such conditions are required by law. -->
          <img class="img-fluid img-rounded" src="./images/640px-Copper_Trail.jpg" alt="Copper Mountain">
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="card copper-color">
        <div class="card-body">
          <h4 class="card-title">Conference Deadlines</h4>
          <ul class="list-unstyled">
            <li> <i class="bi bi-calendar-week-fill mx-2"></i> <a href="{{deadlines.studentabs.url}}"       > {{deadlines.studentabs.title}}:       </a> {{deadlines.studentabs.date}}</li>
            <li> <i class="bi bi-calendar-week-fill mx-2"></i> <a href="{{deadlines.studentpaper.url}}"     > {{deadlines.studentpaper.title}}:     </a> {{deadlines.studentpaper.date}}</li>
            <li> <i class="bi bi-calendar-week-fill mx-2"></i> <a href="{{deadlines.abstracts.url}}"        > {{deadlines.abstracts.title}}:        </a> {{deadlines.abstracts.date}}</li>
            <li> <i class="bi bi-calendar-week-fill mx-2"></i> <a href="{{deadlines.earlyregistration.url}}"> {{deadlines.earlyregistration.title}}:</a> {{deadlines.earlyregistration.date}}</li>
            <li> <i class="bi bi-calendar-week-fill mx-2"></i> <a href="{{deadlines.lodging.url}}"          > {{deadlines.lodging.title}}:          </a> {{deadlines.lodging.date}}</li>
            <li> <i class="bi bi-calendar-week-fill mx-2"></i> <a href="{{deadlines.specialissue.url}}"     > {{deadlines.specialissue.title}}:     </a> {{deadlines.specialissue.date}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-auto">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h6>Organized by</h6>
      <p class="pb-2">
      Front Range Scientific Computations, Inc.
      </p>

      <h6>Co-Organized by</h6>

      <p class="pb-2">
      The <a href="https://www.colorado.edu/">University of Colorado</a>,
      <a href="https://www.sandia.gov/ccr">Sandia National Laboratories</a>, and
      <a href="https://www.illinois.edu/">University of Illinois Urbana-Champaign</a>.
      </p>

      <h6>In cooperation with</h6>

      <p class="pb-2">
      <a href="https://www.siam.org/">SIAM</a>
      <br/>
      <i>contact: <a href="people.html">Luke Olson</a></i>
      <br/>
      <img class="img-responsive center-block" src="./images/blue_non-co-branded.png" alt="SIAM" width="120"/>
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h6>Sponsored by</h6>
      <ul>
        <li><a href="https://www.doe.gov">Department of Energy</a></li>
        <li><a href="https://computing.llnl.gov/casc">Lawrence Livermore National Laboratory (Center for Applied Scientific Computing)</a></li>
        <li><a href="https://www.sandia.gov/ccr">Sandia National Laboratory (Center for Computing Research)</a></li>
        <li><a href="https://cs.lbl.gov">Lawrence Berkeley National Laboratory (Computing Sciences)</a></li>
        <li><a href="https://www.lanl.gov">Los Alamos National Laboratory</a></li>
        <li><a href="https://www.anl.gov/">Argonne National Laboratory</a></li>
      </ul>
    </div>
  </div>

  <div class="row g-md-4 py-5 row-cols-1 row-cols-md-3">
    <div class="col">
      <div class="d-flex align-items-start copper-color rounded">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="bi bi-info-circle"></i>
        </div>
        <div>
          <h4 class="fs-2 text-body-emphasis">Conference Information</h4>
          <ul class="list-unstyled">
            <li><i class="bi bi-people-fill mx-2"></i><a href="people.html#chair">Conference Chairs</a></li>
            <li><i class="bi bi-people-fill mx-2"></i><a href="people.html#committee">Conference Program Committee</a></li>
            <li><i class="bi bi-people-fill mx-2"></i><a href="about.html#topics">Conference Highlights</a></li>
          </ul>
          <br/>
          <ul class="list-unstyled">
            <li><i class="bi bi-file-earmark-text-fill mx-2"></i><a href="student.html#details">Student Paper Competition</a></li>
            <li><i class="bi bi-trophy mx-2"></i><a href="student.html#past">Student Paper Competition List of Previous Winners</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex align-items-start copper-color rounded">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="bi bi-clock-history"></i>
        </div>
        <div>
          <h4 class="fs-2 text-body-emphasis">Conference History</h4>
          <a href="https://grandmaster.colorado.edu/copper/">Full history</a>
          <br/>
          Recent conferences:
          <ul class="small list-unstyled">
            {% for c in previous_conferences %}
            {% if  c.year > 2012 and 'Iterative' in c.title %}
            <li>
              {% if c.url %}
              <a href="{{c.url}}">
                {% endif %}
                <b>{{c.year}}</b> - {{c.title}}
                {% if c.url %}
              </a>
              {% endif %}
              {% if c.journal %}
              <ul class="list-unstyled">
                <li><i class="bi bi-journals mx-2"></i> <a href="{{c['journal-url']}}"> {{c['journal-abbv']}} Special Issue </a> </li>
              </ul>
              {% endif %}
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex align-items-start copper-color rounded">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="bi bi-snow2"></i>
        </div>
        <div>
          <h4 class="fs-2 text-body-emphasis">Copper Mountain Links</h4>
          <ul class="list-unstyled">
            <li><i class="bi bi-snow mx-2"></i><a href="./images/lifttickets.pdf">Lift ticket information (pdf)</a></li>
            <li><i class="bi bi-snow mx-2"></i>Equipment rentals: attendees will have a discount at <a href="https://urldefense.com/v3/__https://easyresv3.wintersteiger.at/index_easyrent.php?shopid=100218&branchid=25&inloc=TGCCU3565&discode=any82qbj9agp__;!!DZ3fjg!5-bIrJJF8Fw2qoQ4NqW3lP_3ZMSWnIIXXBLnWds8OIzXgvW4cq0yv0bOfjlubEeh6DaokuXdKMMiVqu6Pp_E79dAXZI$">Charter Sports</a> at Copper.
              Details can be found <a href="./images/rentals.pdf">here</a>.
            </li>
          </ul>
          <ul class="list-unstyled">
            <li><i class="bi bi-bus-front-fill mx-2"></i>Shuttle information: Use code "{{info.shuttlecode}}" for a 10% discount at <a href="https://www.summitexpress.com">Summit Express</a></li>
          </ul>
          <ul class="list-unstyled">
            <li><i class="bi bi-snow mx-2"></i><a href="https://www.coppercolorado.com/things-to-do/activities-amenities/activities-winter-all">Copper Mountain adventures and activities</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
