<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Copper Mountain Conference on Iterative Methods">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./images/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/copper.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <nav class="navbar navbar-expand-md bg-body-tertiary rounded" aria-label="main navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarid" aria-controls="navbarid" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarid">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
              <a class="nav-item nav-link" href="about.html">About</a>
              {% if 'TBD' == info.programlink %}
              <a class="nav-item nav-link disabled" href="{{info.programlink}}">Program</a>
              {% else %}
              <a class="nav-item nav-link" href="{{info.programlink}}">Program</a>
              {% endif %}
              <a class="nav-item nav-link" href="registration.html">Registration</a>
              <a class="nav-item nav-link" href="submit.html">Submit an abstract</a>
              <a class="nav-item nav-link" href="student.html">Submit a student paper</a>
              <a class="nav-item nav-link" href="lodging.html">Lodging</a>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      <div class="d-block mx-auto main-block">
        <h1 class="title">18th Copper Mountain Conference On</h1>
        <h1 class="title">Iterative Methods</h1>
      </div>
    </div>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    {% block extrajs %}{% endblock %}

  </body>
</html>
